<div class="container">
  <h2>
    What and Where would you like today?
  </h2>
  <div class="well">
    <%= form_tag "/getLocations", :class=>"simple_form" do %>
      <%= text_field_tag "lat", "43.0731", :type=>"hidden" %>
    <%= text_field_tag "long", "-89.4011", :type=>"hidden" %>
    <%= text_field_tag "radius", "1000", :type=>"hidden", :id=>"radius" %>
    <%= text_field_tag "limit", "100", :type=>"hidden" %>

    <i class="icon-food icon-2x" style="padding:0px 10px;"></i>
    <%= text_field_tag "genre", "", "placeholder"=>"Food Genre", "data-provide"=>"typeahead", "data-items"=>"4", "data-source"=>'["American", "Italian", "Mexican","Chinese","Greek","Thai","Vietnamese","Japanese","Spanish","French","German","Native American","Indian"]', "autocomplete"=>"off" %>
    <br/>
    <i class="icon-globe icon-2x" style="padding:0px 10px;"></i>
    <span>
    Pick a Radius
    </span>
    <p id="radiusValue" style="float:right;">
    1 mile
    </p>
    <div class="clear"></div>
    <br/>
    <div id="slider" style="border:1px solid #c6c1b8;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
      <a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;">
      </a>
    </div>
    <br/>
    <button type="submit" class="btn">Go</button>
  <% end %>
  </div>
</div>
