<div id="slider" style="border:1px solid #c6c1b8;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;"></a></div>
<%= form_tag "/getLocations", :class=>"simple_form" do %>
  <%= text_field_tag "lat", "43.0731", :type=>"hidden" %>
  <%= text_field_tag "long", "-89.4011", :type=>"hidden" %>
  <%= text_field_tag "radius", "1000", :type=>"hidden", :id=>"radius" %>
  <%= text_field_tag "limit", "100", :type=>"hidden" %>
  <%= submit_tag "Go" %>
<% end %>


