<% @restarauntsData.each do |restaraunt| %>
  <br/>
<div class="place" data-fbid="<%= restaraunt["id"] %>" data-lat"<%= restaraunt["location"]["latitude"] %>" 
  data-long="<%= restaraunt["location"]["longitude"] %>"   data-fb-pic="<%= restaraunt["fb_pic"] %>" >
  <a class="restaraunt" href="events/new?fbid=<%= restaraunt["id"] %>"><img src ="<%= restaraunt["fb_pic_logo"]%>" class="place-logo"/><%=restaraunt["name"]  %></a>
  <a class="restaraunt" href="/show_restaraunt?fbid=<%= restaraunt["id"] %>"  target="_blank">
    <i class="icon-share"></i>
  </a>
</div>
<% end %>
