<img src="https://graph.facebook.com/<%=@user.uid %>/picture">
<p>
<%= @user.name %>
<p>
<%= @user.email %>
<%= render :partial => 'locationform' %>
<p> Your Friends</p>
<div class="friends-section">
  <%@user.friends.each do |friend| %>
    <div class="profile-friend">
      <img src="https://graph.facebook.com/<%=friend["id"]%>/picture">
    <%= friend["name"] %>
<% end %>
